<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Currency in Market Price Feed List
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for=""> Add National Currency</label>
                        <select class="form-control" onchange="selectIngredient(this);">
                            <option value="english">English</option>
                            <option value="afrikaans">Afrikaans</option>
                            <option value="dansk">Dansk</option>
                            <option value="italiano">Italiano</option>
                            <option value="franscais">Franscais</option>
                            <option value="norsk">Norsk</option>
                            <option value="polski">Polski</option>
                            <option value="tigriniya">Tigriniya</option>
                            <option value="slovencina">Slovencina</option>
                            <option value="greenlandic">Greenlandic</option>
                        </select>

                        <ul class="select-tags">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Which Arbitrators do you Accept
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table cusTable cusTableBig selection">
                            <thead>
                                <tr>
                                    <th>Registration Date</th>
                                    <th>Onion Address</th>
                                    <th>Language</th>
                                    <th>Accept</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug 17, 2017</td>
                                    <td>swfmgmb2aoyqxkte.onion:9999</td>
                                    <td>English</td>
                                    <td>
                                        <div class="cus-check-before">
                                            <input class="styled-checkbox" id="tbl-1" type="checkbox" value="value1">
                                            <label for="tbl-1"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="cus-check-before mt-3">
            <input class="styled-checkbox" id="aritrators" type="checkbox" value="value1">
            <label for="aritrators">Auto Select Arbitrators</label>
        </div>
    </div>
</div>