<h2 class="element-header">
    Accounts
</h2>
<div class="os-tabs-controls">
    <ul class="nav nav-tabs bigger">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_currency_accounts">Currency Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_altcoin_accounts">Altcoin Accounts</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_qrbitrator_selection">Arbitrator Selection</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_wallet_password">Wallet Password</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_wallet_seed">Wallet Seed</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_wallet_managment">Wallet Managment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_chatsettings">Preferences</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_ipfsbackup">IPFS Backup</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_backup">Backup</a>
        </li> -->
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab_currency_accounts">
        <app-currencyaccount></app-currencyaccount>
    </div>
    <div class="tab-pane" id="tab_altcoin_accounts">
        <app-altcoinaccount></app-altcoinaccount>
    </div>
    <div class="tab-pane" id="tab_qrbitrator_selection">
        <app-arbitratorselection></app-arbitratorselection>
    </div>
    <div class="tab-pane" id="tab_wallet_password">
        <app-walletpassword></app-walletpassword>
    </div>
    <div class="tab-pane" id="tab_wallet_seed">
        <app-walletseed></app-walletseed>
    </div>
    <div class="tab-pane" id="tab_wallet_managment">
        <app-walletmanagment></app-walletmanagment>
    </div>
    <div class="tab-pane" id="tab_backup">
        <app-backup></app-backup>
    </div>
    <div class="tab-pane" id="tab_chatsettings">
        <app-chatsetting></app-chatsetting>
    </div>
    <div class="tab-pane" id="tab_ipfsbackup">
        <app-ipfsbackup></app-ipfsbackup>
    </div>
</div>