<div class="row mb-5">
        <div class="col-sm-12">
            <h6 class="element-header">
                About DEX
            </h6>
            <div class="element-wrapper bg">
                <p>DEX is not a company but a community project and open for participation. If you want to participate or
                    support DEX please follow the links below.</p>
                <a href="#">DEX Webpage</a>
                <a href="#">Source Code</a>
                <a href="#">Source Code</a>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <h6 class="element-header">
                Support DEX
            </h6>
            <div class="element-wrapper bg">
                <p>DEX is not a company but a community project and open for participation. If you want to participate or
                    support DEX please follow the links below.</p>
                <a href="#">Contribute</a>
                <a href="#">Donate</a>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <h6 class="element-header">
                Data Providers
            </h6>
            <div class="element-wrapper bg">
                <p>DEX uses 3rd party APIs for Flat and Altcoin market prices as well as for minning fee estimation</p>
                <div class="form-group">
                    <label for="">Maket Prices Provided by</label>
                    <input class="form-control" type="text" value="BitcoinAverage (https://bitcoinaverage.com), Poloniex (https://poloniex.com) and Coinmarketcap (https://coinmarketcap.com)">
                </div>
                <div class="form-group">
                    <label for="">Maket Fee Estimation Provided by</label>
                    <input class="form-control" type="text" value="21 (https://bitcoinfees.earn.com)">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <h6 class="element-header">
                Version Details
            </h6>
            <div class="element-wrapper bg">
                <p>DEX uses 3rd party APIs for Flat and Altcoin market prices as well as for minning fee estimation</p>
                <div class="form-group">
                    <label for="">Application Version</label>
                    <input class="form-control" type="text" value="0.6.7">
                </div>
                <div class="form-group">
                    <label for="">Versions of Subsystems</label>
                    <input class="form-control" type="text" value="Network version: 1; P2P message version: 10; Local DB version: 1; Trade protocol Version: 1">
                </div>
            </div>
        </div>
    </div>