<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Backup Your Wallets Seed Words
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Wallet Seed Words</label>
                        <textarea class="form-control cus-textarea"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Wallet Date</label>
                        <input type="text" class="form-control" id="datepicker">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Restore Your Wallets from Seed Words
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Wallet Seed Words</label>
                        <textarea class="form-control cus-textarea"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Wallet Date</label>
                        <input type="text" class="form-control" id="datepicker2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="mt-2 btn btn-blue" type="button"> Restore Wallets</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Information
        </h6>
        <div class="element-wrapper bg">
            <p>Please write down both wallet seed words adn the date! You can recover your wallet any time with those
                seed words and the date. The seed words are used for both the ETH and the BSQ wallet.</p>

            <p>You should write down the seed words on a sheet of paper and not save then on oyur computer.</p>

            <p>Please note that the seed words are NOT a replacement for a backup.</p>
            <p>You need to backup the whole application directory at the “Account/Backup” screen to recover the valid
                application state and data. Importing seed words is only recommended for emegency cases. The application
                will not be functional wothout a proper backup of the database files and keys!</p>
        </div>
    </div>
</div>