<div class="top-bar color-scheme-transparent">
  <!--------------------
      START - User avatar and menu in secondary top menu
      -------------------->
  <div class="logged-user-w avatar-inline">
    <div class="logged-user-i">
      <!-- <div class="avatar-w">
        <img alt="" src="./assets/img/avatar1.jpg">
      </div> -->
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          Nickname: {{exchangeData.userName}}
        </div>

      </div>
      <!-- <div class="logged-user-menu color-style-bright">
        <div class="bg-icon">
          <i class="os-icon os-icon-wallet-loaded"></i>
        </div>
        <ul>
          <li>
            <a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
          </li>
          <li>
            <a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
          </li>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <!--------------------
      END - User avatar and menu in secondary top menu
      -------------------->
  <div class="top-right-side">
    <div class="balance">Balance <span>{{accountBalance}}</span></div>
    <ul>
      <li>Used in Buy offers <span>{{exchangeData.amountLockedInBuyOffers}} ETH</span></li>
      <li>Used in Sell offers <span>{{exchangeData.amountLockedInSellOffers}} ETH</span></li>
    </ul>
    <ul>
      <li>DEX Tokens<span>{{web3.fromWei(dexTokens,"ether")}}</span></li>
    </ul>
  </div>
</div>