<div class="all-wrapper">
    <div class="row loginBg">
        <div class="loging-logo">
            <img src="./assets/img/temp-logo@2x.png" alt="logo" />
            <span>Decentralised Exchange</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 d-flex align-items-center wallet-left"></div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 d-flex align-items-center">
            <div class="wallet-content">
                <h1>Your ETHs
                    <br> Always in Your Pocket</h1>
                <p>Decentralised is the most popular Ethereum application and undoubtedly the safest</p>
                <div class="element-box-content">
                    <button class="mr-2 btn btn-cwallet" type="button"> Create Wallet</button>
                    <button class="btn btn-iwallet" type="button"> Import Wallet</button>
                </div>
            </div>
        </div>
        <p class="copyright">&copy;2018 Decentralised Exchange</p>
    </div>
</div>