<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Bitcoin Network
        </h6>
        <div class="element-wrapper bg">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""> Connected Peers</label>
                            <textarea class="form-control cus-textarea"></textarea>
                        </div>
                        <div class="cus-check-before mb-3">
                            <input class="styled-checkbox" id="bitcoin-network" type="checkbox" value="value1">
                            <label for="bitcoin-network">Use Tor for bitcoin Network</label>
                        </div>
                        <div class="form-group">
                            <label for=""> Bitcoin Core Nodes to Connect to</label>
                            <div class="radio-wrap">
                                <div class="form-check p-0">
                                    <label class="radio inline">
                                        <input type="radio" name="core" value="" />
                                        <span>Use Provided Bitcoin Core Nodes </span>
                                    </label>
                                </div>
                                <div class="form-check p-0">
                                    <label class="radio inline">
                                        <input type="radio" name="core" value="" />
                                        <span>Use Custom Bitcoin Core Nodes </span>
                                    </label>
                                </div>
                                <div class="form-check p-0">
                                    <label class="radio inline">
                                        <input type="radio" name="core" value="" />
                                        <span>Use Public Bitcoin Network </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""> Use Custom Bitcoin Core Nodes</label>
                            <input class="form-control" placeholder="[IP adress:port | host name:port | onion address:port] (comma seperated). Port can be omitted if default is used (8333)."
                                type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="mt-2 btn btn-sell" type="button"> Resync SPV Chain</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            P2P network
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for=""> My Onion Address</label>
                        <input class="form-control" type="text" value="ki4exoesbzdp6gsr.onion:9999">
                    </div>
                    <div class="table-responsive">

                        <table class="table cusTable cusTableBig">
                            <thead>
                                <tr>
                                    <th width="20%">Onion address</th>
                                    <th>In/Out</th>
                                    <th width="20%">Established</th>
                                    <th>Round trip</th>
                                    <th>Sent</th>
                                    <th>Recieved</th>
                                    <th>Peer type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>
                                <tr>
                                    <td width="20%">3f3cu2yw7u457ztq.onion.8000</td>
                                    <td>Outbound</td>
                                    <td width="20%">May 28, 2018 2:40:29 PM</td>
                                    <td>479 ms</td>
                                    <td>1.51 MB</td>
                                    <td>911.87 KB</td>
                                    <td>Seed Node</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="">Total Traffic</label>
                        <input class="form-control" type="text" value="Sent: 5.91 MB, Recieved: 4.19 MB">
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="mt-2 btn btn-sell" type="button"> Open Tor Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>