<div class="element-box-tp">
    <div class="table-responsive">
        <table class="table cusTable cusTableBig">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>All Offers (170)</th>
                    <th>Buy ETH (57)</th>
                    <th>Sell ETH (113)</th>
                    <th>Total ETH (50.3666)</th>
                    <th>Spread</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
                <tr>
                    <td>South Africa Rand (ZAR)</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0.05</td>
                    <td>4.00%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>