<h2 class="element-header">
    Market
</h2>
<div class="os-tabs-controls">
    <ul class="nav nav-tabs bigger">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_offerbook">Offer Book</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_spread">Spread</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_trades">Trades</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab_offerbook">
        <app-offerbook></app-offerbook>
    </div>
    <!-- <div class="tab-pane" id="tab_spread">
        <app-spread></app-spread>
    </div> -->
    <div class="tab-pane" id="tab_trades">
        <app-trades></app-trades>
    </div>
</div>