<h2 class="element-header">
    Settings
</h2>
<div class="os-tabs-controls">
    <ul class="nav nav-tabs bigger">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_perfrences">Prefrences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_networkinfo">Network Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_about">About</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab_perfrences">
        <app-preferences></app-preferences>
    </div>
    <div class="tab-pane" id="tab_networkinfo">
        <app-networkinfo></app-networkinfo>
    </div>
    <div class="tab-pane" id="tab_about">
        <app-about></app-about>
    </div>
</div>