<div class="row mb-5">
    <div class="col-sm-12">
        <div class="element-wrapper pb-0">
            <div class="chart-box">
                <div class="currency_chart">
                    <div class="currency_title">
                        <!-- <p>Offer Book
                            <br>
                        </p> -->
                    </div>
                    <div class="filter_option">
                        <div class="btn-group">
                            <label>Currency</label>
                            <select class="form-control select-transparent" (change)="changeCurrency()" [(ngModel)]="selectedCurrency">
                                <option *ngFor="let val of currencies" [value]="val">{{val}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="el-chart-w mb-5">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ">
        <app-offersToBuy></app-offersToBuy>
    </div>
    <div class="col-md-6 offer_sell_tbl">
        <app-offersToSell></app-offersToSell>
    </div>
</div>