<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Backup Wallet
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Backup Location</label>
                        <input class="form-control" placeholder="Type here..." type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="element-box-content d-flex">
                        <button class="mt-2 mr-2 btn btn-blue" type="button">Select Backup location</button>
                        <button class="mt-2 btn btn-blue" type="button" disabled>Backup Now (Backup is Not Encrypted</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Application Data Directory
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="element-box-content d-flex">
                        <button class="mt-2 mr-2 btn btn-blue" type="button">Open Directory</button>
                        <button class="mt-2 btn btn-blue" type="button">Open Log File</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>