<div class="row mb-5">
    <div class="col-sm-12">
        <h6 class="element-header">
            Set Password Protection for Wallet
        </h6>
        <div class="element-wrapper bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Enter Password</label>
                        <input class="form-control" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button class="mt-2 btn btn-blue" type="button">Set Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <h6 class="element-header">
        Information
    </h6>
    <div class="element-wrapper bg">
        <p>With password protection you need to enter your password when withdrawing bitcoin out of your wallet or if
            you want to view or restore a wallet from seed words as well as at application startup</p>
    </div>
</div>