<div class="mb-5">
    <div class="element-wrapper bg">
        <div class="table-responsive">
            <table class="table cusTable cusTableBig">
                <thead>
                    <tr>
                        <th width="15%">Select</th>
                        <th width="30%">Address</th>
                        <th>Balance in ETH</th>
                        <th>Confirmations</th>
                        <th>Usage</th>
                    </tr>
                </thead>
                <tbody style="max-height:35vh;">
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <button class="btn btn-tbl" type="button">Select</button>
                        </td>
                        <td width="30%">12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM</td>
                        <td>1.1526</td>
                        <td>Yes</td>
                        <td>Unused</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mb-5">
    <h6 class="element-header">
        Find Your Wallet
    </h6>
    <div class="element-wrapper bg">
        <div class="row">
            <div class="col-md-6">
                <div class="bar-code mb-4">
                    <img src="assets/img/bar-code-img.jpg" alt="bar code" />
                </div>
                <div class="form-group">
                    <input type="text" value="12rHPxEsqay3M3oMynENzy3LBJMDsjhCuM" class="form-control" id="address-copy" disabled>

                    <div class="element-box-content d-flex mt-3">
                        <button class="btn btn-blue mr-2" onclick="myFunction()">Copy to Clipboard</button>
                        <button class="btn btn-blue" type="button"> Open Your Default ETH Wallet</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for=""> Amount in ETH (Optional)</label>
                    <input class="form-control" placeholder="Amount" type="text">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="mt-2 btn btn-blue" type="button">Generate New Address</button>
            </div>
        </div>
    </div>
</div>