<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <app-sidebar></app-sidebar>
        <div class="content-w">
            <!--------------------
        START - Top Bar
        -------------------->
            <app-header></app-header>
            <!--------------------
        END - Top Bar
        -------------------->
            <div class="content-i">
                <div class="content-box">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>