<div class="all-wrapper">
    <div class="row loginBg">
        <div class="loging-logo">
            <img src="./assets/img/temp-logo@2x.png" alt="logo" />
            <span>Decentralised Exchange</span>
        </div>
        <div class="col-xs-12 col-md-6 d-flex align-items-center wallet-left"></div>
        <div class="col-xs-12 col-md-6 d-flex align-items-center">
            <div class="password-content">
                <a href="#">
                    <i class="icon-de-pev mr-2"></i> Back to Home</a>
                <h1>Set Your Password</h1>
                <p>You are going to create wallet, for this we required some information.</p>
                <form>
                    <div class="form-group">
                        <label for=""> Password</label>
                        <input class="form-control" placeholder="Password" type="password">
                    </div>
                    <div class="form-group">
                        <label for="">Repeat Password</label>
                        <input class="form-control" placeholder="Confirm password" type="password">
                    </div>
                    <div class="element-box-content">
                        <button class="btn btn-submit" type="button"> Submit</button>
                    </div>
                </form>

            </div>
        </div>
        <p class="copyright">&copy;2018 Decentralised Exchange</p>
    </div>
</div>